# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Fortran module files
*.mod
*.smod

/SexyAppFramework/Debug
/.vs
*.tlog
*.log
/SexyAppFramework/Debug
Debug/LawnProject.pdb
Debug/LawnProject.exe
/.vs/PlantsVsZombies/v17
.vs/PlantsVsZombies/v17/.suo
.vs/PlantsVsZombies/v17/Browse.VC.db
/Debug/savefiles
/enc_temp_folder
PopcapTools/projects.txt
